<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.miklosferencz.centerguideline</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Enhanced Center Guideline</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/Accentype-Foundry/glyphs-centerguideline-plugin/master/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/Accentype-Foundry/glyphs-centerguideline-plugin</string>
	<key>productReleaseNotes</key>
	<string>Initial release with multi-language support and smart diagonals.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Miklós Ferencz, 2026</string>
	<key>NSPrincipalClass</key>
	<string>EnhancedCenterGuideline</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
